*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #F1E9E7;
	padding: 30px 0;
}


.display{
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: flex-end;
	background-color: #B9E1F8;
	color: gray;
	font: normal 4rem serif;
	padding: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	border-radius: 5px;
}

.calculator {
	width: 400px;
	margin: 0 auto;
	background-color: #F3B9F8;
	padding: 20px;
}



.calculator-buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 13px;
}

.calculator-buttons button{
	height: 30px;
	border-radius: 5px;
	border-style: 1px solid;
outline: none;
font-size: 1em;
padding: 5px;
cursor: pointer;


}

.calculator-buttons button:hover{
	background-color: #B9E1F8;
	border-color: gray;
}